@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply m-0 flex place-items-center min-w-[320px] min-h-screen;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply w-full h-screen;
  }
}

